body {
  justify-content: center;
  gap: 20px;
}

body span,
body form {
  transform: translateY(-20px);
}

span, span a {
  color: var(--flat);
}

#change-password-form {
  max-width: 400px;
}

form h1,
form h3 {
  text-align: center;
}

#password-wrapper {
  border-radius: 4px;
}

#password-inputs {
  gap: 4px;
  border-radius: 4px;
  flex-direction: row;
}

#password-inputs div:nth-of-type(1) {
  width: 100%;
}

#password-inputs input {
  border-radius: 4px 0 0 4px;
}

#show-password {
  user-select: none;
  border-radius: 0 4px 4px 0;
  width: 48px;
}

#show-password img {
  width: 20px;
}

form p {
  text-align: center;
}

#login {
  background: var(--main);
  margin-top: 20px;
  width: 100%;
}

#passwords .separator {
  margin-top: 8px;
  background: none;
}

#progress {
  width: 0;
  height: 100%;
  background: red;
}

#change-password {
  margin-top: 16px;
  background: var(--main);
}

.ban-msg {
  padding: 8px;
  background: rgba(140, 0, 0, 0.8);
  outline: solid red 1px;
  border-radius: 4px;
  color: rgb(220, 220, 220);
  text-align: center;
}