#profile {
  background: blue;
  flex: 0;
  flex-direction: row;
  gap: 16px;
}

#avi-container {
  height: 80px;
}

#avi-container img {
  border-radius: 80px;
}

#edit-profile {
  gap: 8px;
}

#edit-profile img {
  height: 16px;
  opacity: .68;
}

#edit-profile:hover img {
  opacity: 1;
}

#update {
  background: var(--main);
}